body {
    font-family: sans-serif;
    background-color: #949494; /* Fundo suave para contraste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cadastro-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #008000; /* Verde puro para o título */
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

.input-group input:focus {
    outline: none;
    border-color: #008000; /* Borda verde ao focar */
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #008000; /* Fundo do botão verde */
    color: #ffffff; /* Texto do botão branco */
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #006400; /* Verde mais escuro ao passar o mouse */
}
